### ASSIGNMENT 2

### WEB SCRAPING – ASSIGNMENT 2

In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.8.3-py3-none-any.whl (6.5 MB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rabi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.2-py3-none-any.whl (17 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\rabi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rabi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\rabi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.1-py3-none-any.whl (14 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\rabi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\rabi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: idna in c:\users\rabi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\rabi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rabi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.1 h11-0.14.0 outcome-1.2.0 selenium-4.8.3 trio-0.22.0 trio-websocket-0.10.2 wsproto-1.2.0

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [9]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

Now we will download the webDriver for the web Browser Step for download are- 
1.Check the version of your browser 
2.go to the link https://chromedriver.chromium.org/downloads 
3.Download the webdriver for your version of your browser.

In [12]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [13]:
# opening the naukri page on automated chorme browser

driver.get("https://www.naukri.com/")

In [14]:
# entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [15]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [16]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [18]:
# scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping job Experience from the given page

experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [19]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [20]:
import pandas as pd

df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Engineer/Data Analyst,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Tech Mahindra,6-11 Yrs
1,Data Analyst,Bangalore/Bengaluru,Ingersoll Rand,3-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,Unusual Hire,1-4 Yrs
3,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
4,Data Analyst - Contractual,Bangalore/Bengaluru,Search Advisers Services Guj,2-3 Yrs
5,ExcelHER-Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Novel Office,0-2 Yrs
8,Data Analyst - EdTech,Bangalore/Bengaluru,Talentstack,2-6 Yrs
9,Data Analyst - MySQL,Bangalore/Bengaluru,Talentstack,2-7 Yrs

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [21]:
# to fetcg the url -
url=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="fee06c43c657691998f9f3b929238bc2", element="94442867-7a36-4f81-ba31-28c898825a72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fee06c43c657691998f9f3b929238bc2", element="c172cc6b-f6d1-4533-adce-8dec4bd6813a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fee06c43c657691998f9f3b929238bc2", element="877e3c32-28f5-4e93-8f4b-32d435495906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="fee06c43c657691998f9f3b929238bc2", element="0b202f7b-7f69-4ed3-ad3c-0e90d3c127ba")>]

In [22]:
for i in url[0:4]: # lets provide range to print only top 4 data
    
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-engineer-data-analyst-tech-mahindra-kolkata-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-6-to-11-years-130223001593
https://www.naukri.com/job-listings-data-analyst-ingersoll-rand-india-ltd-bangalore-bengaluru-3-to-6-years-310323500515
https://www.naukri.com/job-listings-data-analyst-unusual-hire-bangalore-bengaluru-1-to-4-years-181220500115
https://www.naukri.com/job-listings-data-analyst-contractual-search-advisers-services-guj-bangalore-bengaluru-2-to-3-years-300323608803

In [25]:
job_titles=[]

In [27]:
start=0
end=2
for page in range (start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

In [28]:
len(job_titles)

60

In [29]:
job_titles

['Data Engineer/Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - Contractual',
 'Data Analyst - Contractual',
 'ExcelHER-Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - EdTech',
 'Data Analyst - MySQL',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Procurement Data Analyst - SCM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Salesforce Data Analyst',
 'Data Analyst',
 'Data Analyst-PYSPARK',
 'Data Analyst',
 'STAFF DATA ANALYST',
 'data analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data analyst in Python',
 'Onsite Opportunity -Data-Analyst',
 'DATA ANALYST',
 'Onsite Opportunity -Data-Analyst',
 'Data analyst in Python',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Urgent Hiring || Data Analyst',
 'Data Analyst',
 'Data Governance Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data analyst',
 'Data Analyst',
 'Data Analyst',
 'Sustainability Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'PCN Data Analyst',
 'data analyst',
 'Data Analyst - Python']

In [1]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

Now we will download the webDriver for the web Browser Step for download are- 1.Check the version of your browser 2.go to the link https://chromedriver.chromium.org/downloads 3.Download the webdriver for your version of your browser.

In [2]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [3]:
# opening the naukri page on automated chorme browser

driver.get("https://www.naukri.com/")

In [4]:
# entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [5]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]

In [9]:
# scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [11]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [12]:
import pandas as pd

df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Data Science Professional - IBM SPSS Statistic...,"Bangalore/Bengaluru, Noida, Mumbai, Pune, Chennai",Hexaware Technologies
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Senior data scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
4,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
5,Data Scientist,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
6,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
7,Manager - Innovations Hub - Machine Learning,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
8,Senior Engineer Consultant Data Science,Bangalore/Bengaluru,Verizon
9,Senior Engineer Consultant-Data Science,Bangalore/Bengaluru,Verizon

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [20]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [21]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [22]:
# opening the naukri page on automated chorme browser

driver.get("https://www.naukri.com/")

In [23]:
# entering designation and location as required in the question-

designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [24]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Delhi')

In [25]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [26]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [28]:
job_title=[]
job_location=[]
company_name=[]

In [29]:
# scraping job title from the given page

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [30]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [31]:
import pandas as pd

df=pd.DataFrame({'Job Title':job_title,'Job Location':job_location,'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU
2,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant
3,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
4,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos
5,Senior Data Scientist,Bangalore/Bengaluru,Truecaller
6,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck
7,MACHINE LEARNING / DATA SCIENCE TRAINER,Bangalore/Bengaluru,Ethnotech Academy
8,Data Scientist/Sr. Data Scientist,Bangalore/Bengaluru,Synechron
9,Software Engineer Staff,Bangalore/Bengaluru,Juniper Networks

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [9]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [10]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [11]:
# opening the Flipkart page on automated chorme browser

driver.get("https://www.flipkart.com/")

In [12]:
# entering sunglasses as required in the question-

product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [13]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [14]:
Brand_title=[]
Product_Description=[]
Price_title=[]

In [15]:
# scraping sunglasses from the given page

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:20]:
    brand=i.text
    Brand_title.append(brand)
    
# scraping Product_Description from the given page

Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:20]:
    product=i.text
    Product_Description.append(product)
    
# scraping Price name from the given page

Price_tags=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in Price_tags[0:20]:
    price=i.text
    Price_title.append(price)

In [16]:
print(len(Brand_title),len(Product_Description),len(Price_title))

20 20 20

In [17]:
Product_Description=[]

In [20]:
start=0
end=3
for page in range (start,end):
    titles=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in titles:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [21]:
len(Product_Description)

271

In [22]:
Product_Description[1:100]

['UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Oval Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (53)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Others Retro Square Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (53)',
 'Gradient Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Oval Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (53)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Sports Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Others Retro Square Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection Round Sunglasses (53)',
 'Gradient Rectangular Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Mirrored, UV Protection Rectangular, Retro Square, Wayf...',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Polarized, Mirrored, Riding Glasses Wayf...',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (56)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Sports Sunglasses (Free S...']

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/
itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [23]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [24]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [25]:
# opening the Flipkart page on automated chorme browser

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=i+phone+11+64bg&store=tyy%2F4io&srno=s_1_2&otracker=AS_QueryStore_OrganicAutoSuggest_1_11_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_11_na_na_na&fm=organic&iid=70e4e5af-9da5-4d5c-8116-262118582a21.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=0arncw6a8w0000001680870132713&qH=20a00a8386a410d5")

In [26]:
Rating=[]
Review_summary=[]
Full_review=[]

In [27]:
# scraping sunglasses from the given page

rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    Rating.append(rating)
    
# scraping Product_Description from the given page

Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:10]:
    review=i.text
    Review_summary.append(review)
    
# scraping Price name from the given page

fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tags[0:10]:
    fullreview=i.text
    Full_review.append(fullreview)

In [28]:
Review_summary=[]

In [33]:
start=0
end=4
for page in range (start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [34]:
len(Review_summary)

90

In [35]:
Review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Pretty good',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Value-for-money',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Pretty good',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Value-for-money',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Pretty good',
 'Highly recommended',
 'Great product',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Pretty good',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Value-for-money',
 'Highly recommended',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Pretty good',
 'Highly recommended',
 'Great product']

#### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [36]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [37]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [38]:
# opening the Flipkart page on automated chorme browser

driver.get("https://www.flipkart.com/")

In [39]:
# entering sneakers as required in the question-

product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [40]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [41]:
Brand_title=[]
Product_Description=[]
Price_title=[]

In [42]:
# scraping sunglasses from the given page

brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:10]:
    brand=i.text
    Brand_title.append(brand)
    
# scraping Product_Description from the given page

Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:10]:
    product=i.text
    Product_Description.append(product)
    
# scraping Price name from the given page

Price_tags=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in Price_tags[0:10]:
    price=i.text
    Price_title.append(price)

In [43]:
Product_Description=[]

In [44]:
start=0
end=4
for page in range (start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [45]:
len(Product_Description)

157

In [46]:
Product_Description[0:100]

['574 Sneakers For Men',
 '500 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Comfortable Canvas Lace up Casual Sneakers Shoes For Me...',
 'Sneakers For Women',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Casual Shoes Sneakers For Women',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Sneakers For Men',
 '327 Sneakers For Men',
 '327 Sneakers For Men',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Sneakers For Men',
 'Road Sneakers For Women',
 'Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'luxuryfashion fashionable casual sneaker shoes white Sn...',
 'Modern Trendy Sneakers boot Sneakers Sneakers For Men',
 'Puma Smash Vulc Sneakers For Men',
 '574 Sneakers For Men',
 '373 Sneakers For Men',
 'Thunder-01 White Canvas, Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneaker High Top Shoes for Walking/Running/Gymwe...',
 'Stylish Casual Sports Shoe Sneakers Sneakers For Women',
 'Sneakers For Men',
 'Puma Wired Cage Sneakers For Men',
 'Casual Sneakers White Outdoor Shoes For Boys And Men Sn...',
 'Premium Casual Shoes for Women Sneakers For Women',
 '574 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 '5740 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Stylish Comfortable Lightweight, Breathable Women Shoes...',
 'Modern Trendy Shoes Sneakers For Men',
 'Sneakers For Women',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Comfortable Canvas Lace up Casual Sneakers Shoes For Me...',
 'Sneakers For Men',
 'Bersache Lightweight Color Changing Casual,Sneaker Shoe...',
 'Sneakers For Men',
 'Carnival-02 Mens High Top Casual Chunky Sneakers Sneake...',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Premium White Sneakers For women Sneakers For Women',
 'SS1100 Sneakers For Men',
 'Advantage Genz Sneakers For Men Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Stylish Sneakers Shoes for Women And Girls Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Women',
 'kardam&sons luxury fashionable Stylish Light Weight Sne...',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Premium Casual Shoes for Women Sneakers For Women',
 '500 Sneakers For Men',
 'Combo Pack of 2 Casual Shoe Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 '574 Sneakers For Men',
 '500 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Synthetic| Lightweight| Premiun| Comfort| Summer Tendy|...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack of 2 Sports Sneakers For Men',
 'Premium Casual Shoes for Women Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Premium Sports Shoes For Men Pack Of 2 Sneakers For Men',
 'Comfortable Canvas Lace up Casual Sneakers Shoes For Me...',
 '327 Sneakers For Men']

#### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [1]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [3]:
# opening the amazon page on automated chorme browser

driver.get("https://www.amazon.in/")

In [4]:
driver.maximize_window()

In [5]:
# entering laptop as required in the question-

product=driver.find_element(By.ID,"twotabsearchtextbox")

product.send_keys('Laptop')

In [6]:
search=driver.find_element(By.ID,"nav-search-submit-button")
search.click()

In [7]:
cpu=driver.find_element(By.XPATH,"//span[text()='Intel Core i7']")
cpu.click()

In [8]:
Title=[]
Ratings_title=[]
Price_title=[]

In [9]:
# scraping laptop from the given page

title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    Title.append(title)
    
# scraping Product_Description from the given page

rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in rating_tags[0:10]:
    rating=i.text
    Ratings_title.append(rating)
    
# scraping Price name from the given page

Price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in Price_tags[0:10]:
    price=i.text
    Price_title.append(price)

In [10]:
print(len(Title),len(Ratings_title),len(Price_title))

10 10 10

#### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [11]:
import selenium

import pandas as pd

from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

from selenium.webdriver.common.by import By

import time

In [12]:
driver=webdriver.Chrome(r"C:\Users\Rabi\flip\chormedriver.exe")

In [13]:
# opening the azquotes page on automated chorme browser

driver.get("https://www.azquotes.com/")

In [14]:
driver.maximize_window()

In [15]:
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [16]:
Quote=[]
Author=[]
Type_Of_Quotes=[]

In [17]:
# scraping Quote from the given page

quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quote=i.text
    Quote.append(quote)
    
# scraping Author from the given page

author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author=i.text
    Author.append(author)
    
# scraping Type_Of_Quotes name from the given page

type_Of_Quotes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_Of_Quotes_tags:
    type_Of_Quotes=i.text
    Type_Of_Quotes.append(type_Of_Quotes)

In [18]:
print(len(Quote),len(Author),len(Type_Of_Quotes))

100 100 100

In [19]:
import pandas as pd

df=pd.DataFrame({'Quote':Quote,'Author':Author,'Type_Of_Quotes':Type_Of_Quotes})
df

,Quote,Author,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"